/* .Layout {
  padding: 0;
  margin: 0;
} 
.container {
  width: 90%;
  margin-left: 60px;
  display: grid;
  grid-template-columns: 1fr 3fr 1.5fr;
}

.column {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  height: 100vh;
  background-color: #fff;
  border: none;
}

#column2 {
  border: #726d6d0f solid 1px;
}

 */

 .Layout {
  padding: 0;
  margin: 0;
}

.container {
  width: 90%;
  margin-left: 60px;
  display: grid;
  grid-template-columns: 1fr 3fr 1.5fr;
}

.column {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  height: 100vh;
  background-color: #fff;
  border: none;
  position: sticky;
  top: 0;
  overflow-y: auto; /* Enable vertical scrollbar */
}

#column2 {
  overflow-y: auto;
  border: #726d6d0f solid 1px;
  scrollbar-width: thin; /* Set the width of the scrollbar (you can use auto, thin, or none) */
  scrollbar-color: #888 #f1f1f1; /* Set the color of the scrollbar thumb and track */
}

#column2::-webkit-scrollbar {
  width: 0; /* Hide the default scrollbar for Webkit browsers */
}

/* Optional: Style the custom scrollbar thumb */
#column2::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
}

/* Optional: Style the custom scrollbar track */
#column2::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the scrollbar track */
}

