/* Tweet.module.css */

.tweet {
  border: 1px solid #eff3f4;
  padding:10px 20px;
  margin: 0;
  font-weight:200;
  /* border-radius: 8px; */
}

.tweetHeader {
  display: flex;
  align-items: center;
}
.tweetHeader .id {
  display: none;
}
.profilePic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-weight: bold;
}

.tweetContent {
  margin: 10px 0;
}

.tweetFooter {
  display: flex;
  justify-content: space-between;
}

.tweetDate {
  color: #888;
}

.likeButton {
  /* background-color: #4caf50; */
  color: white;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}


.tweetContent p {
  color: #333; /* Set the default text color */
}

.tweetContent p a {
  color: #007BFF; /* Set the color for links (hashtags and mentions) */
}

