.container {
    width: 100%; 
    height: 100vh;
    margin-top: 0;
    transform: translate(0 , -1px);
    border-bottom: 1px solid black;
}

.header img{
    width: 100%;
    height: 24vh;
}

#profileImage { 
 width: 22%;
 height: 22%;
 transform: translate(50px, -70px);
 border-radius: 50%;
 border: 5px solid white;

}

.editProfileButton {

    background-color: #fff;
    border-radius: 30px;
    padding: 1.3% 2.5%;
    border: rgba(0, 0, 0, 0.084) solid 0.3px;
    font-weight: bold;
    transform: translate(300px , -105px);
    cursor: pointer;

    }


.biography {
        transform: translate(0, -60px);
        margin-left: 20px;

    }


.followPart{
        display: flex;
        margin: 20px 0;
    }
    .followPart button{
        cursor: pointer;
        border: none;
        background-color: #fff;
      
    }
    .followPart a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.545);
    }
.following {
        margin-right: 30px;
    }

    .follower span , .following span {
        margin-right: 5px;
        
    }

